/tp2/rapport/ltximg/
/tp2/out/
/tp2/rapport/rapport.tex
/tp2/readme-mt.txt
/tp2/sujet/

tp3/sujet/Lab # 3 - Simu PI & Conf Intervals.pdf
tp3/prog
tp3/rapport/ltximg
tp3/rapport/rapport.tex
/tp3/out/

tp3/tp3-remi-chassagnol